<%- include('partials/head.ejs') %>
    </head>

    <body>
        <%- include('layouts/sidebar.ejs') %>
            <div class="sl-header">
                <%- include('layouts/headerbar.ejs') %>
            </div>
            <div class="sl-mainpanel">
                <nav class="breadcrumb sl-breadcrumb">
                    <a class="breadcrumb-item" href="index.html">Starlight</a>
                    <span class="breadcrumb-item active">Widgets</span>
                </nav>

                <div class="sl-pagebody">


                    <div class="row row-sm">
                        <div class="col-sm-6 col-xl-3">
                            <div class="card pd-20 pd-sm-25">
                                <div class="d-flex align-items-center">
                                    <span class="sparkline1">3,4,8,7,4,3,1,2,1,3,5</span>
                                    <div class="mg-l-15">
                                        <p class="tx-uppercase tx-11 tx-spacing-1 tx-medium tx-gray-600 mg-b-8">Thống kê hàng ngày</p>
                                        <h3 class="tx-bold tx-lato tx-inverse mg-b-0">$45,302</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                        </div>
                        <!-- col-3 -->
                        <div class="col-sm-6 col-xl-3 mg-t-20 mg-sm-t-0">
                            <div class="card pd-20 pd-sm-25 bg-primary">
                                <div class="d-flex align-items-center">
                                    <span class="sparkline2">3,4,8,7,4,3,1,2,1</span>
                                    <div class="mg-l-15">
                                        <p class="tx-uppercase tx-11 tx-spacing-1 tx-medium tx-white-5 mg-b-8">Thống kê hằng ngày</p>
                                        <h3 class="tx-bold tx-lato tx-white mg-b-0">$45,302</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                        </div>
                        <!-- col-3 -->
                        <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
                            <div class="card pd-20 pd-sm-25 bg-info">
                                <div class="d-flex align-items-center">
                                    <span class="sparkline2">3,4,8,7,4,3,1,2,1</span>
                                    <div class="mg-l-15">
                                        <p class="tx-uppercase tx-11 tx-spacing-1 tx-medium tx-white-5 mg-b-8">Thống kê hằng ngày</p>
                                        <h3 class="tx-bold tx-lato tx-white mg-b-0">$45,302</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                        </div>
                        <!-- col-3 -->
                        <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
                            <div class="card pd-20 pd-sm-25 bg-sl-primary">
                                <div class="d-flex align-items-center">
                                    <span class="sparkline2">3,4,8,7,4,3,1,2,1</span>
                                    <div class="mg-l-15">
                                        <p class="tx-uppercase tx-11 tx-spacing-1 tx-medium tx-white-5 mg-b-8">Thống kê hằng ngày</p>
                                        <h3 class="tx-bold tx-lato tx-white mg-b-0">$45,302</h3>
                                    </div>
                                </div>
                            </div>
                            <!-- card -->
                        </div>
                        <!-- col-3 -->
                    </div>
                    <!-- row -->

                    <div class="row row-sm mg-t-20">
                        <div class="col-sm-6 col-xl-3">
                            <div class="card pd-20 pd-sm-25">
                                <div class="d-flex align-items-center justify-content-between mg-b-10">
                                    <h6 class="card-body-title tx-12 tx-spacing-1">Thống kê doanh thu</h6>
                                    <a href="" class="tx-gray-600 hover-info"><i class="icon ion-more"></i></a>
                                </div>
                                <!-- d-flex -->
                                <h2 class="tx-purple tx-lato tx-center mg-b-15">$34,330</h2>
                                <p class="mg-b-0 tx-12"><span class="tx-success">+ 3.4%</span> compared last month</p>
                            </div>
                            <!-- card -->
                        </div>
                        <!-- col-3 -->
                        <div class="col-sm-6 col-xl-3 mg-t-20 mg-sm-t-0">
                            <div class="card bg-purple tx-white pd-25">
                                <div class="d-flex align-items-center justify-content-between mg-b-10">
                                    <h6 class="card-body-title tx-12 tx-white-8 tx-spacing-1">Thống kê doanh thu</h6>
                                    <a href="" class="tx-white-8 hover-white"><i class="icon ion-more"></i></a>
                                </div>
                                <!-- d-flex -->
                                <h2 class="tx-lato tx-center mg-b-15">$34,330</h2>
                                <p class="mg-b-0 tx-12 op-8">+ 6.2% compared last month</p>
                            </div>
                            <!-- card -->
                        </div>
                        <!-- col-3 -->
                        <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
                            <div class="card pd-20 pd-sm-25">
                                <div class="d-flex align-items-center justify-content-between mg-b-10">
                                    <h6 class="card-body-title tx-12 tx-spacing-1">Thống kê doanh thu</h6>
                                    <a href="" class="tx-gray-600 hover-info"><i class="icon ion-more"></i></a>
                                </div>
                                <!-- d-flex -->
                                <h2 class="tx-teal tx-lato tx-center mg-b-15">$34,330</h2>
                                <p class="mg-b-0 tx-12"><span class="tx-danger">- 3.4%</span> compared last month</p>
                            </div>
                            <!-- card -->
                        </div>
                        <!-- col-3 -->
                        <div class="col-sm-6 col-xl-3 mg-t-20 mg-xl-t-0">
                            <div class="card bg-teal tx-white pd-25">
                                <div class="d-flex align-items-center justify-content-between mg-b-10">
                                    <h6 class="card-body-title tx-12 tx-white-8 tx-spacing-1">Thống kê doanh thu</h6>
                                    <a href="" class="tx-white-8 hover-white"><i class="icon ion-more"></i></a>
                                </div>
                                <!-- d-flex -->
                                <h2 class="tx-lato tx-center mg-b-15">$34,330</h2>
                                <p class="mg-b-0 tx-12 op-8">+ 6.2% compared last month</p>
                            </div>
                            <!-- card -->
                        </div>
                        <!-- col-3 -->
                    </div>
                    <!-- row -->
                </div>
                <!-- sl-pagebody -->
            </div>
            <!-- sl-mainpanel -->

            <footer class="sl-footer">
                <%- include('partials/footer.ejs') %>
            </footer>
            <!-- ########## SCRIPTS ########## -->
            <%- include('layouts/script.ejs') %>
    </body>