<%- include ('../../layouts/header'); -%>
<%- include ('../../layouts/sidebar'); -%>

<!-- ########## START: MAIN PANEL ########## -->
<div class="sl-mainpanel">
    <nav class="breadcrumb sl-breadcrumb">
      <a class="breadcrumb-item" href="index.html">Starlight</a>
      <span class="breadcrumb-item active">Data Table</span>
    </nav>

    <div class="sl-pagebody">
      <div class="sl-page-title">
        <h5>Danh sách đơn đặt</h5>
      </div><!-- sl-page-title -->

      <div class="card pd-20 pd-sm-40">
        <h6 class="card-body-title">Danh sách đơn đặt</h6>
        <div class="table-wrapper">
            <table id="datatable1" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-15p">STT</th>
                  <th class="wd-15p">Order ID</th>
                  <th class="wd-15p">Product Name</th>
                  <th class="wd-10p">Color</th>
                  <th class="wd-25p">Size</th>
                  <th class="wd-25p">Quantity</th>
                  <th class="wd-25p">Single price</th>
                  <th class="wd-25p">Total Price</th>
                </tr>
              </thead>
              <tbody>
                <% orderDetail.map(function(c, index){%> 
                <tr>
                  <td><%= index + 1 %></td>
                  <td><%= c.order_id %></td>
                  <td><%= c.pro_name %></td>
                  <td><%= c.pro_color %></td>
                  <td><%= c.pro_size %></td>
                  <td><%= c.quantity %></td>
                  <td><%= c.single_price %></td>
                  <td><%= c.quantity * c.single_price  %></td>
                </tr>
                <% }); %> 
              </tbody>
            </table>
        </div><!-- table-wrapper -->
      </div><!-- card -->
    </div><!-- sl-pagebody -->
  </div><!-- sl-mainpanel -->
  <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/popper.js/popper.js"></script>
    <script src="/lib/bootstrap/bootstrap.js"></script>
    <script src="/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="/lib/highlightjs/highlight.pack.js"></script>
    <script src="/lib/datatables/jquery.dataTables.js"></script>
    <script src="/lib/datatables-responsive/dataTables.responsive.js"></script>
    <script src="/lib/select2/js/select2.min.js"></script>

    <script src="/js/starlight.js"></script>
    <script>
      $(function(){
        'use strict';

        $('#datatable1').DataTable({
          responsive: true,
          language: {
            searchPlaceholder: 'Search...',
            sSearch: '',
            lengthMenu: '_MENU_ items/page',
          }
        });

        $('#datatable2').DataTable({
          bLengthChange: false,
          searching: false,
          responsive: true
        });

        // Select2
        $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });

      });
    </script>
    </body>
</html>